@model IEnumerable<Product>

@{
    ViewBag.PageTitle = "Products Management";
    ViewBag.CardTitle = "View Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row mb-3">
    <div class="col-6">
        <h2 class="text-primary">@ViewBag.CardTitle</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus"></i> &nbsp; Create New Product
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped" width="100%">
        <thead class="bg-primary text-white">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Category?.Name</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Img))
                        {
                            <img src="@Url.Content($"~/{item.Img}")"
                                 width="100px"
                                 class="img-thumbnail"
                                 onerror="this.onerror=null;this.src='/images/default-product.png';" />
                        }
                        else
                        {
                            <img src="~/images/default-product.png"
                                 width="100px"
                                 class="img-thumbnail" />
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success mx-2">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>